<body>
<form class='desno'>
    <button (click)='nazad()' style="height: 50px; width: 75px;"> Nazad</button>
</form>

<h1> Knjiga - registrovani</h1>
<form>
    <table>
        <tr>
            <td>
                Slika:
            </td>
            <td>
                <img [src]="knjiga.slika">
            </td>
        </tr>
        <tr>
            <td>
                Naziv:
            </td>
            <td>
                {{knjiga.naziv}}
            </td>
        </tr>
        <tr>
            <td>
                Autor:
            </td>
            <td>
                <div *ngFor='let tmp of knjiga.autor'>
                    {{tmp}}
                </div>
            </td>
        </tr>
        <tr>
            <td>
                Datum:
            </td>
            <td>
                {{knjiga.datum}}
            </td>
        </tr>
        <tr>
            <td>
                Zanr
            </td>
            <td >
                <div *ngFor='let tmp of knjiga.zanr; let i=index'>
                    {{tmp}}
                    
                </div>
               
            </td>
        </tr>
        <tr>
            <td>
                Opis
            </td>
            <td>
                {{knjiga.opis}}
            </td>
        </tr>
        <tr>
            <td>
                Ocena:
            </td>
            <td *ngIf='knjiga.ocena'>
                {{knjiga.ocena}}
            </td>
            <td *ngIf='!knjiga.ocena'>
                <i>Nema ocene za ovu knjigu!</i>
            </td>
        </tr>
        <tr>
            <td>
                Status:
            </td>
            <td>
                {{status}}
            </td>
        </tr>
        
    </table>
</form>
<button (click)='procitao()'>Procitao sam knjigu</button> | 
<button (click)='stavi()'>Stavi u listu cekanja</button> | 
<button (click)='ukloni()'>Ukloni iz liste cekanja</button> |
<button (click)='citam()'>Trenutno citam</button>
<br>
<div *ngIf='poruka'> {{poruka}}</div>
<hr>
<form *ngIf='status == cita || status == procitao1'>
    Stigao sam do strane:<input type='text' name='strana' [(ngModel)]='strana'>
    <button (click)='promena()'>Potvrdi</button>
    <br> <br>
    <mat-progress-bar mode="determinate" [value]='progress'></mat-progress-bar>
    <hr>
</form>
<form  *ngIf='progress > 50'>
    <table>
        <tr>
            <td>Komentar:</td>
            <td> <textarea name='komentar' [(ngModel)]='komentar.tekst'> </textarea></td>
        </tr>
        <tr>
            <td>Ocena:</td>
            <td> <input type='text' name='ocena' [(ngModel)]='ocena'></td>
        </tr>
        <tr>
            <td>
                <button (click)='potvrdi()'>Potvrdi</button>
            </td>
        </tr>
        <tr>
            <td *ngIf='poruka1'>
                {{poruka1}}
            </td>
        </tr>
        
    </table>
    <hr>
</form>
<h3> Komentari za knjigu: </h3>
<div *ngIf='flag1'>
<table >
    <tr>
        <th>Korisnicko ime</th>
        <th>Autor knjige </th>
        <th>Ocena</th>
        <th>Tekst komentara</th>
    </tr>
    <tr *ngFor='let tmp of sviKomentariKnjige; let i=index;'>
        <td><a (click)='profil(tmp.username)'>{{tmp.username}}</a></td>
        <td>{{tmp.autor}}</td>
        <td>{{ sveOceneKnjige[i] }}</td>
        <td>{{tmp.tekst}}</td>
    </tr>
    
</table>
<hr>
</div>
<div *ngIf='!sviKomentariKnjige.length'>
    <i>Nema komentara za ovu knjigu!</i>
    <hr>
</div>
</body>