<body>
<form class='desno'>
    <button (click)='nazad()' style="height: 50px; width: 75px;"> Nazad</button>
</form>

<h1> Profil korisnika </h1>

<form>
    <table>
        <tr>
            <td>
                Slika:
            </td>
            <td>
                <img [src]="korisnik.slika">
            </td>
        </tr>
        <tr>
            <td>
                Ime:
            </td>
            <td>
                <output name='ime'>{{korisnik.ime}}</output>
               
            </td>
        </tr>
        <tr>
            <td>
                Prezime:
            </td>
            <td>
                <output name='prezime'>{{korisnik.prezime}}</output>
            </td>
        </tr>
        <tr>
            <td>
                Datum rodjenja:
            </td>
            <td>
                <output name='datumRodj' >{{korisnik.datumRodj}}</output>
            </td>
        </tr>
        <tr>
            <td>
                Grad:
            </td>
            <td >
                <output name='grad' >{{korisnik.grad}}</output>
            </td>
        </tr>
        <tr>
            <td>
                Drzava:
            </td>
            <td>
                <output name='drzava'>{{korisnik.drzava}}</output>
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
            <td>
                <output name='email'>{{korisnik.email}}</output>
            </td>
        </tr>
        <tr>
            <td>Aktivan:</td>
            <td> {{korisnik.aktivan}} </td>
        </tr>
        <tr *ngIf='ulogovan.username != korisnik.username'>
            <button (click)='zaprati()'>Zaprati</button>
        </tr>
       
        
    </table>
</form>

<div *ngIf='poruka'> {{poruka}}</div>

</body>